<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="ARANGODB_HOST" value="http://localhost"></env>
        <env name="ARANGODB_PORT" value="http://localhost"></env>
        <env name="ARANGODB_DB" value=""></env>
        <env name="ARANGODB_USERNAME" value=""></env>
        <env name="ARANGODB_PASSWORD" value=""></env>
    </php>
    <testsuites>
        <testsuite name="Validation">
            <directory suffix="Test.php">tests/Validation</directory>
        </testsuite>
    </testsuites>
</phpunit>
