<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Connection">
            <directory suffix="Test.php">tests/Connection</directory>
        </testsuite>
        <testsuite name="Validation">
            <directory suffix="Test.php">tests/Validation</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="build"
             lowUpperBound="35"
             highLowerBound="75"/>
        <log type="coverage-clover" target="build/logs/coverage.xml"/>
    </logging>
</phpunit>
